.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.imglogo{
  width: 50px;
}

.head1{
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  margin: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
